[submodule "AccentResources"]
	path = AccentResources
	url = https://github.com/AndrewGaspar/AccentResources
[submodule "MediaFoundation"]
	path = MediaFoundation
	url = git@github.com:AndrewGaspar/MediaFoundation.git
[submodule "Podcasts.Dom"]
	path = Podcasts.Dom
	url = git@github.com:AndrewGaspar/Podcasts.Dom.git
